
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f8f4ef; 
}


.navbar {
    background-color: #cdb4db; 
    padding: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #3a3a3a;
}


.container {
    flex: 1;
    display: flex;
    gap: 20px;
    padding: 30px;
}


.card {
    flex: 1;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
}

.card h2 {
    margin-bottom: 10px;
    color: #5e548e; /
}

.card p {
    color: #6b6b6b;
    line-height: 1.6;
}

/* Footer */
.footer {
    background-color: #cdb4db; 
    color: #3a3a3a;
    text-align: center;
    padding: 20px;
    font-size: 18px;
}
